.dividerContainer {
    width: 100%;
    height: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 1rem 0;
    pointer-events: none;
}

.line {
    height: 100%;
    background: linear-gradient(90deg, transparent, var(--accent-primary), transparent);
}

.dot {
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: var(--accent-primary);
    border-radius: 50%;
    box-shadow: 0 0 10px var(--accent-primary);
}