.projectsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    align-items: stretch;
}

.projectsGrid>div {
    height: 100%;
}

@media (max-width: 1024px) {
    .projectsGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .projectsGrid {
        grid-template-columns: 1fr;
    }
}